name: update bucket

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  excavate:
    permissions:
      contents: write
    runs-on: windows-2025
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Excavator
        uses: ScoopInstaller/GithubActions@797d33021c0fbd52be705ce8136d9d62c5b41782 # main (Nov 25, 2025)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: "1"
